# Docker Compose Environment Variables

# The username for the PostgreSQL database
POSTGRES_USER=postgres

# The password for the PostgreSQL database
POSTGRES_PASSWORD=postgres

# The name of the PostgreSQL database
POSTGRES_DB=bullet_calendar
